<plugin name='autobase' version='0.7'>
  <author>Robert Fischer</author>
  <authorEmail>robert.fischer@smokejumperit.com</authorEmail>
  <title>Automate your database work as much as possible</title>
  <documentation>http://github.com/RobertFischer/autobase/wikis</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='hibernate' version='1.1-beta2' />
  </dependencies>
</plugin>