<plugin name='autobase' version='0.1'>
  <author>Robert Fischer</author>
  <authorEmail>robert.fischer@smokejumperit.com</authorEmail>
  <title>Automate your database work as much as possible</title>
  <description>This plugin marries the established Liquibase core with Grails development processes in order to to minimze the amount of database code you have to think about.

The approach to this plugin is to leave the database update mode ("hbm2ddl.auto" value) as "update", and to manage alterations to the database schema through checking in changesets to a folder.  The changesets are made up of Liquibase's many "refactorings": http://www.liquibase.org/manual/home#available_database_refactorings
</description>
  <documentation>http://github.com/RobertFischer/autobase/</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
</plugin>